Repository vanshigupta04/Persona-LLM-Chatbot-For-QA, pull requests merged in 2023-12, with the labels that each got.

#18 added Friends dataset script for fine tuning and updated pyproject.toml file
  notebooks/Friends_Fan.ipynb
  notebooks/data/friends_dataset.txt
  poetry.lock
  pyproject.toml
Labels: data preparation, friends fan

#28 added mcq data preparation and base model evaluation scripts
  notebooks/Buzfeed_friends_mcq.ipynb
  notebooks/query_llm_test.ipynb
Labels: evaluation, data preparation, friends fan

#29 Added evaluation suite to persona LLM
  evaluation/__init__.py
  evaluation/evaluator.py
  evaluation/metrics.py
  poetry.lock
  pyproject.toml
  utils/llm.py
Labels: evaluation

#35 added mcq eval data
  data/eval_data/.DS_Store
  data/eval_data/MCQ_Data_1.csv
  data/eval_data/MCQ_Data_2.csv
  data/eval_data/MCQ_Dataset.csv
  data/eval_data/combined.json
Labels: evaluation, data preparation, friends fan

#38 Added RAG Scripts
  config.ini
  data/eval_data/trivia_data.csv
  evaluation/evaluator.py
  evaluation/metrics.py
  notebooks/evaluate_base_model.ipynb
  notebooks/evaluate_rag_model.ipynb
  notebooks/rag.ipynb
  notebooks/test_evaluate_base_model.ipynb
  poetry.lock
  pyproject.toml
  rag/__init__.py
  rag/embeddings.py
  rag/vector_database.py
  utils/llm.py
Labels: documentation, enhancement, model training, evaluation, friends fan
